.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: var(--greyscale-two);
    border-radius: 0.75rem;
}

.badge-warning {
    background-color: var(--action-warning);
}

.badge-strong-warning {
    background-color: var(--orange-main);
}

.badge-positive {
    background-color: var(--action-positive);
}

.badge-error {
    background-color: var(--action-error);
}

.badge-info {
    background-color: var(--action-info);
}
