:root {
  --brand-site: #4b949f;
  --brand-site-dark: #196c78;
  --disabled: #cbcbcb;
  --warning: #f5bb16;
  --brand-one: #196c78;
  --brand-two: #307f8a;
  --brand-three: #4b949f;
  --brand-four: #78bac3;
  --brand-five: #afdce2;
  --brand-greyscale-one: #000000;
  --brand-greyscale-two: #979797;
  --brand-greyscale-three: #c0c0c0;
  --brand-greyscale-four: #eeeeee;
  --brand-greyscale-five: #f8f8f8;
  --brand-secondary-one: #333d42;
  --brand-secondary-two: #316685;
  --brand-secondary-three: #6493dc;
  --brand-feedback-one: #13ce66;
  --brand-feedback-two: #f5bb16;
  --brand-feedback-three: #ff4949;
}

/* CSS resets */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

:root {
  font-family: 'Roboto', sans-serif;
  font-size: 16;
}

h1 {
  font-size: 2.5rem;
  font-weight: lighter;
}

h2 {
  font-size: 2rem;
  font-weight: lighter;
}

h3 {
  font-size: 1.75rem;
  font-weight: lighter;
}

h4 {
  font-size: 1.5rem;
  font-weight: normal;
}

h5 {
  font-size: 1.25rem;
  font-weight: bold;
}

h6 {
  font-size: 18px;
  font-weight: bold;
}

body {
  font-size: 1.125rem;
}

p {
  font-size: 1rem;
}

a {
  color: var(--brand-site);
}

a:hover,
a:focus {
  font-weight: bold;
  color: var(--brand-site-dark, var(--brand-site));
}

:global(section) {
  margin-top: 2rem;
}
