@import './variables.css';

:root {
    font-size: var(--font-size);
}

:global(h1) {
    font-size: 2.5rem;
    font-weight: lighter;
}

:global(h2) {
    font-size: 2rem;
    font-weight: lighter;
}

:global(h3) {
    font-size: 1.75rem;
    font-weight: lighter;
}

:global(h4) {
    font-size: 1.5rem;
    font-weight: normal;
}

:global(h5) {
    font-size: 1.25rem;
    font-weight: bold;
}

/*
body {
  font-size: var(--font-size);
} */

:global(a) {
    color: var(--link-colour);
}

:global(a:hover, a:focus) {
    font-weight: bold;
    color: var(--brand-one, var(--link-colour));
}
