.link {
  color: var(--brand-primary);
}

.link:hover,
.link:focus,
.hover,
.focus {
  font-weight: bold;
  color: var(--brand-darker, var(--brand-primary));
}

.disabled,
.disabled:hover {
  color: var(--disabled);
}
