.link {
    color: var(--brand-main);
    text-decoration: none;
}

.link:hover,
.link:focus,
.hover,
.focus {
    color: var(--brand-darker, var(--brand-main));
    text-decoration: underline;
}

.disabled,
.disabled:hover {
    color: var(--disabled);
}
