.panel {
    --panel-shadow-size: 0.1rem;
    --panel-box-shadow: 0 var(--panel-shadow-size) var(--panel-shadow-size) 0
            #c2c2c2,
        0 0 var(--panel-shadow-size) 0 #e1e1e1;
    border: none;
    box-shadow: var(--panel-box-shadow);
    border-radius: 0.6rem;
    background-color: white;
    margin-bottom: 0.6rem;
}

.panel > .panel-heading {
    background-color: transparent;
    border-bottom: solid var(--greyscale-three) 0.1rem;
    border-radius: 0.6rem 0.6rem 0 0;
    padding: 0.6rem 1.3rem;
}

.panel-body {
    padding: 0.6rem 1.3rem;
}
