table {
  /* Table Reset */
  border-collapse: collapse;
  border-spacing: 0;
}

.table {
  border-spacing: 0 1rem;
}

.table thead tr td {
  text-align: center;
  font-size: 1.4rem;
  font-weight: lighter;
}

.table tr td {
  border-bottom: 0.1rem solid black;
  padding: 1rem;
}
