:global(:root) {
  --disabled: var(--greyscale-one);
  --brand-one: #196c78;
  --brand-two: #307f8a;
  --brand-main: #4b949f;
  --brand-three: #78bac3;
  --brand-four: #afdce2;
  --black: #000000;
  --greyscale-one: #979797;
  --greyscale-two: #c0c0c0;
  --greyscale-three: #eeeeee;
  --greyscale-four: #f8f8f8;
  --white: #ffffff;
  --secondary-one: #333d42;
  --secondary-two: #316685;
  --action-info: #6493dc;
  --action-positive: #13ce66;
  --action-warning: #f5bb16;
  --action-error: #ff4949;
  --font-family: 'Roboto', sans-serif;
  --font-size: 15;
  font-family: var(--font-family);
  font-size: var(--font-size);
  --link-colour: var(--brand-main);
}
