.navigation-tabs {
    border-bottom: 1px solid #ddd;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: table;
}

.navigation-tabs--item {
    margin-bottom: -3px;
    cursor: pointer;
    float: left;
    position: relative;
    display: block;
}

.navigation-tabs--item > a:hover,
.navigation-tabs--item.hover > a {
    background-color: var(--greyscale-four);
}

.navigation-tabs--item > a {
    border-radius: inherit;
    border: none;
    color: var(--greyscale-one);
    margin-right: 2px;
    position: relative;
    display: block;
    padding: 0.6rem 1rem;
    text-decoration: none;
}

.navigation-tabs--active > a {
    font-weight: 500;
    background-color: inherit;
    border: none;
    border-bottom: 3px solid var(--brand-main);
    color: var(--brand-main);
}

.navigation-tabs--active > a:hover {
    background-color: inherit;
}
