body {
    background-color: white;
}

.content {
    padding: 1rem;
    flex: 80%;
    width: 80%;
}

.container {
    display: flex;
    max-width: 1200px;
}

.sidebar {
    flex: 20%;
}

#banner {
    width: 100%;
    height: 200px;
    padding: 0;
    margin: 0;
    background-color: var(--brand-main);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

:global(section) {
    margin-top: 2rem;
}

p {
    margin: 0.5rem 0 1rem 0;
}

ul {
    margin: 1em 0;
}

li {
    margin: 0 1em;
}

code {
    display: inline-block;
    padding: 0.2em 0.4em;
    background: var(--greyscale-five);
    color: var(--greyscale-two);
}
