.content {
    padding: 1rem;
    flex: 80%;
    width: 80%;
}

.container {
    display: flex;
    max-width: 1200px;
}

.sidebar {
    flex: 20%;
}

#banner {
    width: 100%;
    height: 200px;
    padding: 0;
    margin: 0;
    background-color: var(--brand-main);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

:global(section) {
    margin-top: 2rem;
}

p {
    margin-bottom: 0.5rem;
}

li {
    margin-left: 2rem;
}
