#sidebar {
    background-color: #ffffff;
    border-right: solid 1px #cccccc;
    height: 100%;
}

#sidebar-title {
    width: 166px;
    height: 92px;
    margin: 15px;
}

hr {
    border: solid 1px #e7e7e7;
}

.sidebar-menu {
    margin: 1rem;
    margin-bottom: 1.5rem;
    list-style: none;
}

.sidebar-menu li {
    margin: 0.6rem;
}

.sidebar-menu h4 {
    margin-bottom: 1rem;
}

#sidebar-title {
    width: 166px;
    height: 92px;
    font-size: 36px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.83;
    letter-spacing: normal;
    color: #333333;
    margin: 15px;
}
